@import url('./styles/fonts.css');
@import url('tailwindcss');
@import url('tw-animate-css');
@import url('shadcn/tailwind.css');
@import url('@fontsource-variable/geist');

@custom-variant dark (&:is(.dark *));

/* Make sure these exists! */
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --color-primary: #6549d5;
  --color-secondary: #e33fa1;
  --color-secondary-2: #fb5343;
  --color-neutral: #0f0f11;
  --color-background: #060606;
  --color-text: #acacac;
  --color-smoke: #ffffff4d;
  --font-versatylo: 'Versatylo Rounded', sans-serif;
  --font-outfit: 'Outfit', sans-serif;
  --background-image-title-gradient: linear-gradient(
    135deg,
    #6549d5,
    #e33fa1,
    #fb5343
  );

  /* This variable creates the 'animate-gradient' utility */
  --animate-gradient: gradient 3s ease infinite;

  @keyframes gradient {
    0%,
    100% {
      background-position: left center;
    }

    50% {
      background-position: right center;
    }
  }
}

@layer base {
  /* Base HTML styles */
  html,
  body {
    max-width: 100vw;
    overflow-x: hidden;
    position: relative;
  }

  html {
    @apply bg-background text-text;

    font-family: 'Versatylo Rounded', sans-serif;
  }

  body {
    @apply antialiased min-h-screen;
  }

  /* Gradient text utility */
  .text-gradient {
    @apply bg-title-gradient bg-clip-text text-transparent;

    background-size: 100% 100%;
    display: inline-block; /* Helps some browsers render clipping better */
  }

  .text-gradient-animated {
    @apply bg-title-gradient bg-clip-text text-transparent animate-gradient;

    background-size: 150% 150%;
  }
}

@layer components {
  /* Example component styles */
  .heading-1 {
    @apply text-8xl font-bold;
  }

  .heading-2 {
    @apply text-3xl md:text-4xl font-semibold;
  }

  .container-custom {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
  }

  .responsive {
    @apply w-full md:w-[80%] lg:w-[60%] xl:w-[40%] md:m-auto min-h-screen;
  }
}
